@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/RobotoSlab-Bold.eot');
  src: url('../fonts/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
      url('../fonts/RobotoSlab-Bold.woff') format('woff'),
      url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body{
  margin: 0;
  font-family: "Arial", sans-serif;
  
}

sup {
  font-size: 0.6em;
}

hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid #e4e4ec;
}

a {
  position: relative;
}

.wrapper{ 
  margin: 0 auto;
  max-width: 960px;
}

.aic{
  align-items: center; 
}
header{
  box-shadow: 0 0 5px rgb(0 0 0 / 10%);
  background-color: #fff;
}

.header {
  padding: 15.5px 0;
  background-color: #1f1f56;
  
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 28px;
  row-gap: 28px;
}
.colum{
  width: 219px;
  box-sizing: border-box;
}

.header ul{
  margin: 0 -14px;
  padding-left: 0;
  list-style: none;
  
}

.header li{
  display: inline-block;
  margin: 0 14px;

}

.menu{
  display: inline;
  
}

.menu a{
  letter-spacing: 2px;
  line-height: 24px;
  color: #b1b1d2;
  text-decoration: none;
  transition: all 0.5s ease;
}

.menu a:hover{
  color: #fd8300;
  text-shadow: 0 0 2px #fd8300;
}

.social a{
  display: block;
  background: url(../img/sprite.png) no-repeat;
  
}

a.fb {
  width: 10px;
  height: 19px;
  background-position: -2px -1px;    
}

a.in {
  width: 19px;
  height: 19px;
  background-position: -13px -1px;
}

a.tw {
  width: 18px;
  height: 15px;
  background-position: -33px -2px;
}

a.fb:hover{
  background-position: -1px -22px;
}

a.tw:hover{
  background-position: -34px -23px;
}

a.in:hover{
  background-position: -13px -22px ;
}

.contact-info{
  padding: 20px 0;
}

.phones,
.messengers {
  padding-left: 48px;
}

.phones p,
.messengers p {
  margin: 10px 0;
}

.phones a {
  font: bold 18px/24px Arial;
  color: #25252c;
  font-weight: bold;
  text-decoration: none;
}
.icon::before{
content: '';
position: absolute;
left: -28px;
top: 1px;
}

.tel:before {
  width: 16px;
  height: 17px;
  background: url(../img/sprite.png) no-repeat -53px -1px;
}


.messengers a {
  font-size: 16px;
  line-height: 24px;
  color: #25252c;
}

.mail:before {
  width: 17px;
  height: 13px;
  background: url(../img/sprite.png) no-repeat -56px -24px;
}

.skype{
  text-decoration: none;
}

.skype:before {
  width: 18px;
  height: 19px;
  background: url(../img/sprite.png) no-repeat -71px -1px;
}
.stick {
  position: relative;
}
.stick:before {
  content: '';
  position: absolute;
  top: 15px;
  right: -18px;
  width: 1px;
  height: 51px;
  background-color: #e4e4ec;
}

.cta {
  text-align: right;
}

.cta a {
  display: inline-block;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #25252c;
  text-decoration: none;
  border: 2px solid #fd8300;
  border-radius: 25px;
  transition: all .25s ease;   
}

.cta a:hover {
  color: #ffffff;
  background-color: #fd8300;
}


.proposition {
  display: block;
  text-align: center;
  background:#2d2f18 url(../img/beackground.jpg) center/cover;
  padding: 55px 0 35px;
}

.proposition p {
  margin: 0;
}

.prop-title {
  color: #fff;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Roboto Slab";
  text-transform: uppercase;
}

p.prop-text {
  color: #fff;
  margin: 10px 0;
  font-size: 14px;
  line-height: 24px;
}

.prop-cost {
  font-size: 24px;
  color: #fd8300;
  font-weight: bold;
}

.prop-cost span {
  font-size: 40px;
}
.main-price h1 {
  margin-top: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #24242b;
    font-family: "Roboto Slab";
    
}
.main-price h2{
  font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #24242b;
    font-family: "Roboto Slab";
}
.main-price a {
  font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    text-decoration: underline;
    transition: all .25s ease;
}
.main{
  padding: 35px 0 45px;
  flex-wrap: wrap-reverse;
}

.main-info{
  
  width: 100%;
}
.main-info h1,
.main-info h2{
  color: #24242b;
  font-family: "Roboto Slab"; 
}

.main-info h1 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 700
}

.main-info h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 28px;
}

.main-info a {
  font-size: 14px;
  line-height: 24px;
  color: #fd8300;
  font-weight: bold;
  text-decoration: none;
}
.main-info p {
  text-align: left;
}

.content p {
  
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin-top: 0;
}

.home{
  position: relative;
  margin: 0;
  font-size: 13px;
  color: #9999a6;
  padding-bottom: 40px;
}
.home a{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.home a:hover ~ h3 {
  text-decoration: underline;

}

.home h3 {
  margin: 5px 0 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: #1f1f56;
  font-weight: bold;
}

.home p {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #9999a6;
}

.home h3 span {
  text-transform: lowercase;
}

.aside-menu{
  position: sticky;
  
  top: 35px;
  border-radius: 3px;
  overflow: hidden;
}

.sidebar{
  min-width: 219px;
  flex: 0 0 100%;
  
}
.aside-menu p {
  color: #fff;
  background-color: #1f1f56;
  padding: 10px 15px;
  margin: 0;
  font: 700 16px/1.5em "Roboto Slab";
}

.aside-menu ul {
  background-color: #e4e4ec;
  padding: 0;
  margin: 0;
}

.aside-menu li {
  list-style: none;
}

.aside-menu a {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
  color: #25252c;
  text-decoration: none;
  transition: all .25s ease; 
}

.aside-menu > ul > li + li > a {
  border-top: 1px solid #cdcddd;
}

.aside-menu > ul > li:hover > a {
  color: #fff;
  background-color: #fd8300;
}

.aside-menu a:hover{
  color: #fff;
  background-color: #fd8300;
}
.aside-menu > ul > li > a:before {
  content: '';
  position: absolute;
  right: 15px;
  top: 18px;
  width: 7px;
  height: 7px;
  border-right: 2px solid #666;
  border-bottom: 2px solid #666;
  transform: rotate(-45deg);
  transition: all .5s ease;
}

.aside-menu > ul > li:hover > a:before{
  top: 16px;
  border-color: #fff;
  transform: rotate(45deg);

}
.aside-menu li:hover .hide-menu {
  display: block;
}

.hide-menu a:hover{
  color: #666666;
  background-color: #cecedd;
}

.hide-menu {
  display: none;
}

.hide-menu a {
  padding-left: 30px;
  color: #666666;

}
.main-price {
  max-width: 960px;
  width: 100%;
}

.main-price p{
  margin: 0;
}

.main-info a {
  font-size: 14px;
  line-height: 24px;
  color: #fd8300;
  font-weight: bold;
  text-decoration: underline;
  transition: all .25s ease;
}

.main-info a:hover{
  text-decoration: none;
}

.content-price p {
  max-width: 960px;
  font-size: 14px;
  line-height: 24px;
  color: #666;
  margin-top: 0;
}



.popular-projects{
  max-width: 960px;
}
.price-table {
  border-radius: 3px;
  overflow: hidden;
  margin: 25px 0;
}

.price-table table{
  border-collapse: collapse;
  width: 100%;
}

.price-table th{
  background-color: #1f1f56;
  color: #ffffff;
  text-align: left;
  font: 700 14px/1.5em "Roboto Slab";
  padding: 12px 20px;
  border: 0;
}

.price-table td {
  font-size: 14px;
  line-height: 24px; 
  padding: 8.5px 20px;
  border: 1px solid #cdcddd;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.price-table tr:first-child td {
  border-top: none;
}

.price-table th:last-child {
  text-align: right;
}

tbody tr:hover{
  color: #fff;
  background-color: #fd8300;

}

tbody tr{
  color: #666;
  background-color: #e4e4ec;
  transition: all .25s ease;
}

.cost {
  text-align: right;
}


.footer {
  
  padding: 30px 0 20px;
  background-color: #ededf5;
}

.footer-menu {
  margin: 10px 0;
  
  letter-spacing: none;
  list-style: none;
  
}
.footer-menu a {
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: #666666;
  transition: all .25s ease;
  
}

.footer-menu a:hover{
  text-decoration: underline;
  color: #fd8300;
}
.copy {
  font-size: 13px;
  line-height: 18px;
  color: #9999a6;  
  background-color: #dcdce6;
  text-align: center;
}

.copy p {
  margin: 0;
  padding: 13.5px 0;
}
.information h2 {
  margin: 36px 0 15px 0;
  font-size: 24px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
}
.information h3 {
  font-size: 14px;
  color: #24242b;
  font-weight: 700;
  font-family: "Roboto Slab";
}

.title {
  font-size: 14px;
  color: #24242b;
  font-weight: 700;
}

.tell {
  font-size: 18px;
  color: #25252c;
  font-weight: bold;
  text-decoration: none;
}

.mail {
  font-size: 16px;
  text-decoration: underline;
  color: #25252c;
  font-family: "Arial";
}
.our-contacts {
  margin: -10px 0;
}
.our-ofice p,
.advice p,
.props p {
  font-size: 14px;
  color: #666666;
  font-family: "Arial";
}
.advice p {
  padding-right: 50px;
}
.props p {
  padding-right: 81px;
  line-height: 24px;
  color: #666666;
  font-family: "Arial";
}

.maps {
  margin: 17px 0 40px;
}
.maps iframe {
  border: none;
  width: 465px;
  height: 300px;
}

.feedback-form {
  width: 48%;
}

.form-menu,
.cta-form {
  display: flex;
  
  justify-content: space-between;
}
.form-menu label {
  width: 49%;
}
.feedback-form input,
.feedback-form textarea {
  box-sizing: border-box;
  padding-left: 16px;
  border-radius: 3px;
  border: 1px solid #c5c5d4;
  line-height: 21px;
  color: #9999a6;
  font-style: italic;
  margin-bottom: 10px;
  font-family: "Arial";
}

.checkbox {
  margin-top: 3%;
}
.checkbox label {
  font-size: 13px;
  line-height: 21px;
  color: #666666;
  font-family: "Arial";
}
.name,
.phone,
.subject {
  width: 100%;
  height: 40px;
}
.text {
  max-width: 462px;
  min-height: 105px;
  width: 100%;
  height: 105px;
  border-radius: 3px;
  resize: vertical;
}
.cta2 {
  text-align: right;
}

.cta2 a {
  display: inline-block;
  padding: 7px 35px;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #fd8300;
  text-decoration: none;
  border: 2px solid #fd8300;
  border-radius: 25px;
  transition: all .25s ease;   
}

.cta2 a:hover {
  color: #25252c;
  background-color: #fff;
}

.check-box {
  visibility: hidden;
  position: absolute;
}

.check-box + label {
  position: relative;
  padding: 0 27px;
  margin-left: 30px;
  font-size: 13px;
  line-height: 21px;
}
.check-box + label:after {
  left: 4px;
  top: 2px;
}
.check-box:checked + label:after {
  width: 7px;
  height: 4px;
  border-right: 2px solid #1f1f56;
  border-top: 2px solid #1f1f56;
  transform: rotate(135deg);
}
.check-box + label:before, 
.check-box + label:after {
  content: "";
  position: absolute;
}
.check-box + label:before {
  left: 0;
  top: -2px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #c5c5d4;
}



@media screen and (min-width: 931px ) {
  .main {
      flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px ) {
  .menu {
    display: none;
  }
}  

@media screen and (min-width: 931px){
.sidebar {
    flex: 0 0 219px;
    width: 219px;
    
  }
}

@media screen and (min-width: 980px){
  .row {
    justify-content: space-between;
  }
}

@media screen and (min-width: 931px){
  .main-info {
      max-width: 713px;
    }
    .content p {

      max-width: 677px;
    }
  }
  @media screen and (max-width: 931px){
    .main-info h2 {
        text-align: center;
      }
    }
  
@media screen and (min-width: 930px) {
  .footer {
    
    
  }
}

@media screen and (max-width: 931px){
  .main-price h2,
  .information h2 {
      text-align: center;
      
    }
  }

@media screen and (max-width: 960px) {
    .stick:before {
     display: none;
    }
  }  